<!-- Modal Informasi (modal.html) -->
<div id="custom-modal" tabindex="-1" class="hidden fixed top-0 left-0 right-0 z-50 w-full h-full bg-black bg-opacity-50 flex justify-center items-center">
    <div class="bg-white  rounded-lg shadow p-6 w-full max-w-md text-center">
        <svg id="modal-icon" class="mx-auto mb-4 w-12 h-12 text-gray-400 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01M21 12c0 4.97-4.03 9-9 9S3 16.97 3 12 7.03 3 12 3s9 4.03 9 9z"/>
        </svg>
        <h3 id="modal-message" class="mb-5 text-lg font-normal text-gray-800 ">Pesan modal</h3>
        <button id="modal-ok-btn" type="button" class="text-white bg-blue-600 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5">
            OK
        </button>
    </div>
</div>